.Notifications {
    padding: 4px;
    border: 1px dashed red;
    float: right;
}

.Notifications li[data-notification-type="default"] {
    color: blue;
  }
  
  .Notifications li {
    color: red;
  }
  .menuItem {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 10px 10px;
  }
  
  